html,
body {
    overflow-x: hidden;

}
body {
    padding-top: 0px;
}
footer {
    padding: 30px 0;
}

input#photo{
    padding: 0px;
}
.btn-new{
    margin-bottom: 10px;
    margin-top: 20px;
}
span.wellcome{
    color: #fff;
    display: block;
    padding: 15px;
}

.btn-index{
 height: 220px;
}

.btn-index-text{
 padding:  30px;
 font-size: 32px;
 font-weight: 900;
}

.btn-registrar-carro{
 margin-top: 50px;
 font-size: 24px;
 font-weight: 900;
}

.container-registrar-carro{
 font-weight: bold;
 font-size: 32px;
}

.registro-carro-label{
 margin-top: 10px;
}

.header{
	font-weight: 900;
	text-align: center;
	font-size: 32px;
}

.input-novo-carro{
	height: 40px;
}

.dropdown{
	margin-top: 25px;
	margin-left: 12px;
	font-size: 30px !important;
}

.img-attribute{
	margin-top: 10px;
	margin-bottom: 10px;
}